<div ng-controller="OrderController">
	<form style="margin-bottom: 20px">                      
	    <div class="form-group form-inline">                            
	        <label for="klant">Klant</label>
			<input ng-model="klant" type="text" class="form-control" id="klant" placeholder="Klant">
	    </div>
	</form>
	
	
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<td>Product</td>
				<td>Prijs</td>
				<td>Aantal</td>
				<td>Totaal</td>
				<td>&nbsp;</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="orderLijn in orderLijnen">
				<td>
					{{orderLijn.product.naam}}
				</td>
				<td>{{orderLijn.product.prijs}} <span>&euro;</span></td>
				<td>
					<input ng-model="orderLijn.aantal" type="number" class="form-control" autofocus step="1" ng-focus="onTextFocus($event)" id="aantal-{{orderLijn.product.naam}}"
						ng-keydown="orderLijnAantalKeydown($event)">
				</td>
				<td>{{orderLijnTotaal(orderLijn)}} <span>&euro;</span></td>
				<td><button type="button" class="btn btn-danger btn-sm" ng-click="verwijderOrderLijn(orderLijn)">Verwijderen</button></td>
			</tr>
			<tr class="no-print">
				<td>
					<ui-select id="new-order-lijn" ng-model="selected" theme="bootstrap" style="width:300px;" on-select="addProduct($select.selected)">
						<ui-select-match
							placeholder="Kies een product ...">{{$select.selected.name}}</ui-select-match>
						<ui-select-choices repeat="product in producten|propsFilter:$select.search:['naam', 'code']|orderBy:'code'" group-by="productType">
							<span ng-bind-html="product.naam | highlight: $select.search"></span>
							(<span ng-bind-html="product.code | highlight: $select.search"></span>)
						</ui-select-choices> 
					</ui-select>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>Totaal</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>{{orderTotaal()}} <span>&euro;</span></td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>Voorschot</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>
					<input ng-model="voorschot" type="number" class="no-print form-control" id="voorschot" placeholder="Betaald voorschot" step="any" style="width: 80%; display: inline-block">
					<span class="yes-print">{{voorschot}}</span>
					<span> &euro;</span>
				</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>Afrekening</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>{{afrekening()}} <span>&euro;</span></td>
				<td>&nbsp;</td>
			</tr>
		</tbody>
	</table>
	<button type="submit" class="btn btn-primary btn-sm" ng-click="saveOrder()">Registreer bestelling</button>
	<button type="submit" class="btn btn-primary btn-sm" ng-click="afdrukken()">Afdrukken</button>
	
</div>