<div ng-controller="OrderController">
	<div class="container">
		<div class="row">
 			<dt class="col-sm-3">Naam</dt>
  			<dd class="col-sm-9">{{klant.naam}}</dd>
 			<dt class="col-sm-3">Nummer</dt>
  			<dd class="col-sm-9">{{klant.nummer}}</dd>
  		</div>
		<div class="row">
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<td>Productcode</td>
						<td>Productnaam</td>
						<td>Prijs</td>
						<td>Aantal</td>
						<td>Totaal</td>
						<td>&nbsp;</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="orderLijn in orderLijnen">
						<td>
							{{orderLijn.product.code}}
						</td>
						<td>
							{{orderLijn.product.naam}}
						</td>
						<td>{{orderLijn.product.prijs}} <span>&euro;</span></td>
						<td>
							<input ng-model="orderLijn.aantal" type="number" class="form-control" autofocus step="1" ng-focus="onTextFocus($event)" id="aantal-{{orderLijn.product.naam}}"
								ng-keydown="orderLijnAantalKeydown($event)">
						</td>
						<td>{{orderLijnTotaal(orderLijn)}} <span>&euro;</span></td>
						<td><button type="button" class="btn btn-danger btn-sm" ng-click="verwijderOrderLijn(orderLijn)">Verwijderen</button></td>
					</tr>
					<tr>
						<td>
							<ui-select id="new-order-lijn" ng-model="selected" theme="bootstrap" style="width:300px;" on-select="addProduct($select)">
								<ui-select-match
									placeholder="Kies een product ...">{{$select.selected.name}}</ui-select-match>
								<ui-select-choices repeat="product in producten|propsFilter:$select.search:['naam', 'code']|orderBy:'code'" group-by="productType">
									<span ng-bind-html="product.naam | highlight: $select.search"></span>
									(<span ng-bind-html="product.code | highlight: $select.search"></span>)
								</ui-select-choices> 
							</ui-select>
						</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>Totaal</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>{{orderTotaal()}} <span>&euro;</span></td>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
			
			<button type="submit" class="btn btn-primary btn-sm" ng-click="saveOrder()">Registreer bestelling</button>
			<button type="submit" class="btn btn-primary btn-sm" ng-click="saveOrderEnAfrekenen()">Registreer bestelling en afrekenen</button>
		</div>
	</div>
</div>