<div ng-controller="OverzichtController">
	<div>
		<button type="button" class="btn btn-danger btn-sm" ng-click="verwijderOrders()">Verwijder alle bestellingen</button>
		<a ng-href="{{exporteerLink()}}" class="link-primary" target="_blank">
			Exporteer bestellingen
		</a>
	</div>

	<form style="margin-top: 20px">                      
	    <div class="form-group form-inline">                            
	        <label for="datum">Datum</label>
			<select ng-model="datum" ng-options="obj.value as obj.text for obj in orderDatums" ng-change="datumSelected()">
			</select>
	    </div>
	</form>
	
	<div>Totaal aantal bestellingen: {{aantalOrders}}</div>

	<div ng-repeat="(producttype, totalenvoorproducttype) in totalen">
		<h2>{{producttype}}</h2>
		<table class="table table-striped">
		  <thead>
		  	<tr>
		  		<th>Code</th>
		  		<th>Naam</th>
		  		<th>Eenheidsprijs</th>
		  		<th>Aantal verkocht</th>
		  		<th>Totaal</th>
		  	</tr>
		  </thead>
		  <tr ng-repeat="(productCode, aantalVerkocht) in totalenvoorproducttype">
		    <td> {{productCode}} </td> 
		    <td> {{naam(productCode)}} </td> 
		    <td> {{eenheidsPrijs(productCode)}} &euro;</td> 
		    <td> {{ aantalVerkocht }} </td>
		    <td> {{ totaalBedragVerkocht(aantalVerkocht, productCode) }} &euro;</td>
		  </tr>
		</table>
	</div>
	
</div>