body {
	font: normal 10px Verdana, Arial, sans-serif;
}

h1, h2 {
	font-size: 120%;
}

.table, input, .form-control, .btn-sm  {
	font-size: 100%;
}

#main_content {
	margin-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.ui-select-choices.ui-select-choices-content.ui-select-dropdown.dropdown-menu
	{
	display: block;
}

.form-group label {
	margin-right: 20px;
}

.ui-select-multiple.ui-select-bootstrap {
	min-height: 31px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

.betaald {
	border: 3px solid green;
}

.nietbetaald {
	border: 3px solid red;
}

#cashBetaaldMet {
	width: 100px;
	display: inline;
}

#klantnaam {
	width: 100px;
	display: inline;
}

.print-header {
	display: flex;
	align-items: center;
}

.print-header img {
	margin-right: 20px;
	margin-bottom: 20px;
}

@media screen {
	.yes-print {
		display: none;
	}
}

@media print {
	body {
		font: normal 20px Verdana, Arial, sans-serif;
	}
	
	button {
		display: none !important;
	}

	.no-print {
/* 		display: none !important; */
	}

	.betaald {
		border: none;
	}
	
	.nietbetaald {
		border: none;
	}
}